.section {
  padding: 40px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.banner {
  width: 100%;
  height: 540px;
  background-image: url("https://res.cloudinary.com/htl6k8cd/image/upload/v1785352652/kerala-jewellers/backgrounds/coming-soon-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
