.section {
  padding: 40px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.banner {
  width: 100%;
  height: 540px;
  background-image: url("/assets/images/67a73a3dbb8c680323ef26c4_KJ%20WEBSITE%20BANNER-01.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
